{% if user.is_authenticated %}
    <form id="logoutForm" action="/account/logout/" method="post" class="navbar-right">
        {% csrf_token %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.username}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'my_rewards' %}">My Rewards</a></li>
                    <li><a href="{% url 'my_projects' %}">My Projects</a></li>
                    <li><a href="{% url 'my_profile' %}">My Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url "logout" %}">Log out</a></li>
                </ul>
            </li>
        </ul>
    </form>
{% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'login' %}">Log in</a></li>
    </ul>
{% endif %}
